.nav-wrapper{
  width: 1170px;
}
.background {
  display: flex;
  justify-content: center;
  z-index: -1;
  background-image: url("../img/bg_806.png");
  width: 100%;
  height: 640px;
}
.nav-menu {
  width: 1170px;
}
.logo{
  margin-top: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
        span{
          color: white;
          font-family: source_sans_proregular,sans-serif;
          font-size: 24px;
          line-height: 58px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: -0.6px;
        }
        span:last-child{
          display: flex;
          flex-wrap: wrap;
          width: 44px;
          padding-left: 5px;
          opacity: 0.3;
          font-family: source_sans_proregular,sans-serif;
          font-size: 9px;
          line-height: 10px;
          font-weight: 400;
          text-transform: uppercase;
          color: #ffffff;
        }
      }
.menu-text{
      display: flex;
      justify-content: flex-end;
      margin-top: 45px;
      position: relative;
      left: 29px;
      a{
        font-family: "Source Sans",sans-serif;
        font-size: 16px;
        line-height: 10px;
        font-weight: 600;
        letter-spacing: 0.1px;
        color: #fffefe;
        margin-left: 24px;
        text-decoration: none;
      }
    }
.head-text{
  .title{
    display: flex;
    flex-direction: column;
    padding-right: 0;
    padding-top: 62px;
    h2{
      font-family: "Source Sans",sans-serif;
      font-size: 13px;
      line-height: 51px;
      font-weight: 700;
      text-transform: uppercase;
      color: #008ed6;
      letter-spacing: 2.25px;
    }
    h1{
      font-family: "Source Sans",sans-serif;
      font-size: 46px;
      line-height: 41px;
      font-weight: 700;
      text-transform: none;
      letter-spacing: 1.5px;
      color: #ffffff;
    }
    h1:last-child{
      font-size: 42px;
      line-height: 37px;
      font-weight: 700;
      text-transform: none;
      letter-spacing: 1px;
      color: #ffffff;
    }
    span{
      margin-top: 18px;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      text-transform: none;
      letter-spacing: -0.4px;
      color: #999999;
    }
  }
  .button-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    font-size: 12px;
    .blue-button {
      font-family: "Source Sans", sans-serif;
      color: #ffffff;
      width: 160px;
      height: 50px;
      font-weight: 700;
      background-color: #008ed6;
      margin-right: 20px;
      border-radius: 3px;
      letter-spacing: 1.5px;
      border: 0;
      box-shadow: 0 0 3px 0 rgba(3, 3, 3, 0.1);
    }

    .glass-button {
      font-family: "Source Sans", sans-serif;
      font-weight: 700;
      width: 161px;
      height: 50px;
      letter-spacing: 1.4px;
      background: none;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 5px;
      color: #ffffff;
    }
  }
  .image-phone{
    img{
      width: 500px;
      height: 513px;
      margin-top: 39px;
      margin-left: -19px;
    }
  }
}
.overview-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .container {
    display: flex;
    justify-content: center;

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 46px;

      h1 {
        font-family: "Source Sans", sans-serif;
        font-size: 14px;
        line-height: 48px;
        font-weight: 700;
        letter-spacing: 1.8px;
        color: #008ed6;
        margin-right: -1px;
      }

      span {
        font-family: "Source Sans", sans-serif;
        font-size: 33px;
        font-weight: 600;
        text-transform: none;
        letter-spacing: 1.8px;
        color: #1a1a1a;
        margin-top: -13px;
      }
    }
  }

  .container-img {
    padding-top: 104px;
    padding-left: 138px;
    padding-right: 133px;

    .col-3 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .elipse {
        width: 90px;
        height: 90px;
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 4px;
        margin-top: 1px;
      }

      span {
        font-family: "Source Sans", sans-serif;
        font-size: 23px;
        line-height: 22px;
        font-weight: 400;
        color: #1a1a1a;
        text-align: center;
        margin-top: 32px;
        letter-spacing: 0.5px;
        margin-left: -5px;
      }
      span:last-child{
        font-size: 17px;
        line-height: 26px;
        color: #999999;
        margin-top: 14px;
        letter-spacing: 0.5px;
        width: 251px;
      }
      .col-3:last-child {
        span {
          margin-left: -5px;
          letter-spacing: 0.1px;
        }
      }
    }
  }
}
.device-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.device-container {
    width: 1170px;
    margin-top: 132px;
    .container{
        .col-5{
          img{
            width: 510px;
            height: 621px;
            margin-left: 5px;
            margin-top: 4px;
          }
        }
      .detail-info{
        display: flex;
        flex-direction: column;
        margin-left: 29px;
        .details-title{
          margin-top: 38px;
          font-family: "Source Sans",sans-serif;
          font-size: 13px;
          line-height: 48px;
          font-weight: 700;
          text-transform: uppercase;
          color: #008ed6;
          letter-spacing: 2.1px;
          margin-left: 2px;
        }
        span:nth-child(2){
          font-family: "Source Sans",sans-serif;
          line-height: 33px;
          font-size: 34px;
          font-weight: 600;
          text-transform: none;
          letter-spacing: 1.4px;
          color: #1a1a1a;
        }
        .line-wrapper {
          position: relative;
          flex-direction: row;
          display: flex;
          justify-content: space-between;
          margin-top: 31px;
          width: 40px;

          .lines {
            width: 19px;
            display: flex;
            border-top: 2px solid #008ed6;
          }
        }
        .details-text{
          width: 470px;
          font-size: 18px;
          line-height: 26px;
          font-weight: 400;
          text-transform: none;
          letter-spacing: -0.5px;
          color: #999999;
          margin-top: -10px;
        }
        .setting{
          margin-top: 17px;
          margin-left: -12px;
          .col-1{
            display: flex;
            flex-direction: column;
            img{
              margin-top: 19px;
            }
            img:first-child{
              margin-left: -2px;
              width: 16px;
              height: 16px;
            }
            img:nth-child(2){
              width: 10px;
              margin-left: 1px;
              height: 17px;
            }

            img:nth-child(3){
              width: 11px;
              height: 17px;
              margin-left: 1px;
            }
            img:nth-child(4){
              width: 16px;
              height: 15px;
              margin-left: -2px;
            }
          }
          .col-10{
            display: flex;
            flex-direction: column;
            margin-top: 6px;
            span{
              margin-left: -15px;
              font-size: 18px;
              line-height: 32px;
              font-weight: 400;
              text-transform: none;
              color: #1b1b1b;
              margin-top:4.5px;
              letter-spacing: -0.7px;
            }
            span:first-child{
              letter-spacing: -0.9px;
            }
          }
          span:nth-child(3){
            letter-spacing: -0.8px;
          }
          span:last-child{
            letter-spacing: -0.77px;
          }
        }
      }
    }
  }
.customize-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.customize-container{
  width: 1170px;
  margin-top: 130px;
  .container{
    .col-5{
      display: flex;
      flex-direction: column;
      margin-top: -44px;
      margin-left: -18px;
      .details-title{
        margin-top: 47px;
        font-family: "Source Sans",sans-serif;
        font-size: 13px;
        line-height: 48px;
        font-weight: 700;
        text-transform: uppercase;
        color: #008ed6;
        letter-spacing: 2.1px;
        margin-left: 4px;
      }
      span{
        font-family: "Source Sans",sans-serif;
        font-size: 34px;
        font-weight: 600;
        text-transform: none;
        letter-spacing: 1.5px;
        color: #1a1a1a;
        margin-top: -9px;
        margin-left: 2px;
      }
      .line-wrapper {
        position: relative;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        width: 40px;
        margin-left: 3px;

        .lines {
          width: 19px;
          display: flex;
          border-top: 2px solid #008ed6;
        }
      }
      .details-text{
        width: 461px;
        font-family: "Source Sans",sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-transform: none;
        letter-spacing: 0.27px;
        line-height: 26px;
        color: #999999;
        margin-top: -28px;
        margin-left: 2px;
      }
    }
    .col-7{
      img{
        height:491px;
        width:718px;
        margin-top: -79px;
        margin-left: 11px;

      }
    }
  }
}
.pricing-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
.pricing-container{
  width: 100%;
  background-image: url("../img/prostok_t_4_1101.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 640px;
  z-index:-1;
  .container{
    display: flex;
    justify-content: center;
      .col-4{
        margin-top: 65px;
        display: flex;
        justify-content: center;
        flex-direction: column;
          .text-title{
            font-family: "Source Sans",sans-serif;
            font-size: 14px;
            line-height: 64px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.8px;
            color: #008ed6;
            margin-left: 64px;
            margin-top: -8px;
          }
        span{
          font-family: "Source Sans",sans-serif;
          font-size: 35px;
          font-weight: 600;
          text-transform: none;
          letter-spacing: 1px;
          color: #ffffff;
          margin-top: -16px;
          margin-left: 27px;
        }
        .line-wrapper {
          position: relative;
          flex-direction: row;
          display: flex;
          justify-content: space-between;
          margin-top: 36px;
          width: 40px;
          margin-left: 130px;
          .lines {
            width: 19px;
            display: flex;
            border-top: 2px solid #008ed6;
            margin-left: 0;
          }
        }
      }
  }
  .feedback-container{
    width: 1170px;
    display: flex;
    justify-content: center;
    margin-left: 117px;
      .feed1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 58px;

        span {
          font-family: "Source Sans", sans-serif;
          font-size: 22px;
          line-height: 32px;
          font-style: italic;
          font-weight: 400;
          color: #ffffff;
          margin-top: -25px;
          letter-spacing: 0.7px;
        }

        .author {
          display: flex;
          flex-direction: row;

          img {
            width: 59px;
            height: 59px;
            margin-left: 3px;
            margin-top: 21px;
          }

          .author-span {
            display: flex;
            flex-direction: column;
            margin-top: 37px;

            span {
              font-family: "Source Sans", sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              letter-spacing: -0.6px;
              line-height: 60px;
              color: #ffffff;
              margin-left: 24px;
            }

            span:last-child {
              font-size: 14px;
              font-weight: 700;
              letter-spacing: 0.3px;
              margin-left: 25px;
              font-style: normal;
              line-height: 23px;
              margin-top: -17px;

            }
          }
        }
      }

      .feed2 {
        display: flex;
        justify-content: center;
        flex-direction: column;

        span {
          font-family: "Source Sans", sans-serif;
          font-size: 22px;
          line-height: 32px;
          font-style: italic;
          font-weight: 400;
          color: #ffffff;
          margin-left: 17px;
          margin-top: 36px;
          letter-spacing: 0.5px;
        }

        .author2 {
          display: flex;
          flex-direction: row;

          img {
            width: 59px;
            height: 59px;
            margin-left: 17px;
            margin-top: 21px;
          }

          .author-span2 {
            display: flex;
            flex-direction: column;
            margin-top: -27px;

            span {
              font-family: "Source Sans", sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 60px;
              color: #ffffff;
              margin-left: 24px;
              letter-spacing: 0.2px;
            }

            span:last-child {
              font-family: "Source Sans", sans-serif;
              font-size: 14px;
              font-weight: 700;
              letter-spacing: 0.4px;
              margin-left: 25px;
              font-style: normal;
              line-height: 23px;
              margin-top: -16px;
            }
          }
        }
      }
    .slick-track{
      display: flex;
      flex-direction: row;
    }
    .slick-list{
      overflow: hidden;
    }
    .slick-dots{
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 42px;
      margin-top: 131px;
      width: 137px;
      button{
        font-size: 0;
        width: 8px;
        height: 8px;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 0;
      }
      .slick-active button{
        background-color: #ffffff;
        width: 13px;
        height: 13px;
        border: 0;
      }
    }
  }
}
.ad-wrapper{
  width:100%;
  display: flex;
  justify-content: center;
  background-color: #15141a;
  .ad-container{
    width: 1170px;
    margin-top: 80px;
    margin-left: -6px;
    margin-bottom: 59px;
    .row{
      .col-7{
        span:first-child{
          font-family: "Source Sans", sans-serif;
          font-size: 34px;
          line-height: 48px;
          font-weight: 600;
          color: #ffffff;
          letter-spacing: 1.5px;
          margin-left: 2px;
        }
        span:last-child{
          letter-spacing: 0.72px;
          font-family: "Source sans light", sans-serif;
          font-weight: 300;
          color: #ffffff;
          font-size: 34px;
          line-height: 48px;
          margin-left: -1px;
        }
      }
      .col-5{
        padding-right: 0;
        margin-top: -1px;
        display: flex;
        button:first-child{
          font-family: "Source Sans", sans-serif;
          display: flex;
          font-size: 14px;
          justify-content: center;
          line-height: 48px;
          align-items: center;
          font-weight: 700;
          text-transform: uppercase;
          color: #ffffff;
          width: 158px;
          letter-spacing: 0.4px;
          height: 50px;
          background-color: rgba(0, 142, 214, 0);
          border: 1px solid rgba(255, 255, 255, 0.2);
          margin-left: 134px;
        }
        button:last-child{
          font-family: "Source Sans", sans-serif;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          line-height: 48px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.4px;
          color: #ffffff;
          width: 160px;
          height: 50px;
          background-color: #008ed6;
          box-shadow: 0 0 3px 0 rgb(3 3 3 / 10%);
          margin-left: 21px;
          border: 0;
          border-radius: 3px;
        }
      }
    }
  }
}
.plans-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
.plans-container {
  width: 1170px;

  .col-4 {
    margin-top: 44px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: -22px;

    .text-title {
      font-family: "Source Sans", sans-serif;
      font-size: 14px;
      line-height: 63px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.7px;
      color: #008ed6;
      margin-left: 144px;
      margin-top: -8px;
    }

    span {
      font-family: "Source Sans", sans-serif;
      font-size: 34px;
      font-weight: 600;
      text-transform: none;
      letter-spacing: 1.2px;
      color: black;
      margin-top: -16px;
      margin-left: 107px;
    }

    .line-wrapper {
      position: relative;
      flex-direction: row;
      display: flex;
      justify-content: space-between;
      margin-top: 38px;
      width: 40px;
      margin-left: 210px;

      .lines {
        width: 19px;
        display: flex;
        border-top: 2px solid #008ed6;
        margin-left: 0;
      }
    }
  }
  .row-columns {
    display: flex;
    justify-content: center;
    .price-list:hover {
      .row:first-child {
        color: #008ed6;
      }

      .row:nth-child(2) {
        background-color: #008ed6;

        span {
          color: #fafafa;
        }
      }
      .row:nth-child(3){
        button{
          background-color: #008ed6;
          color: #fffefe;
        }
      }
    }

    .col-3 {
      max-width: 23.9%;
      padding-right: 24px;
      margin-right: -8px;
      margin-top: 24px;

      .row {
        border: 1px solid;
        justify-content: center;
        font-family: "Source Sans", sans-serif;
        font-size: 24px;
        line-height: 20px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #1a1a1a;
        padding-top: 22px;
        padding-bottom: 21px;
      }
      .row:nth-child(2) {
        display: flex;
        flex-direction: column;
        padding-top: 37px;
        padding-bottom: 14px;
        padding-left: 112px;

        span {
          font-size: 18px;
          line-height: 59px;
          font-weight: 400;
          color: #999999;
          margin-left: -21px;
          letter-spacing: -0.1px;
        }

        div {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          margin-left: 18px;

          span {
            font-family: 'Source Sans', sans-serif;
            font-size: 27px;
            line-height: 20px;
            font-weight: 600;
            color: #1a1a1a;
          }

          span:nth-child(1) {
            top: 8px;
            right: 2px;
            position: relative;
          }

          span:nth-child(2) {
            font-size: 57px;
            margin-left: 0.5px;
            margin-top: 18px;
          }

        }

      }
      .row:nth-child(3) {
        font-family: "Source Sans", sans-serif;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        color: #999999;
        padding-top: 44px;

        span {
          text-align: center;
          width: 201px;
          margin-left: -4px;
          letter-spacing: -0.1px;
          padding-top: 2px;
          padding-bottom: 21px;
        }

        button {
          margin-top: 18px;
          margin-bottom: 17px;
          margin-right: 5px;
          width: 162px;
          height: 52px;
          background-color: #ffffff;
          border: 1px solid #e0e0e0;
          font-family: "Source Sans", sans-serif;
          font-size: 14px;
          line-height: 50px;
          letter-spacing: 0.4px;
          font-weight: 700;
          text-transform: uppercase;
          color: #008ed6;
        }
      }
    }
    .col-3:nth-child(2) {
      margin-left: 27px;

      .row {
        letter-spacing: 0.7px;
      }
      .row:nth-child(2){
        .columns{
          margin-left: 4px;
        }
      }
      .row:nth-child(3) {
        span {
          margin-left: 4px;
        }
        button {
          margin-left: 4px;
        }
      }
    }
    .col-3:nth-child(3) {
      margin-left: 27px;
      padding-right: 23px;
      .row{
        letter-spacing: 0.7px;
      }
      .row:nth-child(2){
        .columns{
          margin-left: 6px;
        }
      }
      .row:nth-child(3) {
        span {
          margin-left: 4px;
        }

        button {
          margin-left: 6px;
        }
      }
    }
    .col-3:nth-child(4) {
      margin-left: 28px;
      .row{
        letter-spacing: 1px;
      }
      .row:nth-child(2){
        .columns{
          margin-left: 6px;
        }
      }
      .row:nth-child(3) {
        span {
          margin-left: 5px;
        }

        button {
          margin-left: 8px;
        }
      }
    }
  }
}
.contact-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact-container {
  width: 1170px;
  padding-bottom: 363px;
  .col-2 {
    margin-top: 91px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .text-title {
      font-family: "Source Sans", sans-serif;
      font-size: 14px;
      line-height: 63px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.6px;
      color: #008ed6;
      margin-left: 31px;
      margin-top: -6px;
    }

    span {
      font-family: "Source Sans",sans-serif;
      font-size: 33px;
      font-weight: 600;
      text-transform: none;
      letter-spacing: 1.9px;
      color: black;
      margin-top: -14px;
      margin-left: 3px;
    }

    .line-wrapper {
      position: relative;
      flex-direction: row;
      display: flex;
      justify-content: space-between;
      margin-top: 37px;
      width: 40px;
      margin-left: 65px;

      .lines {
        width: 19px;
        display: flex;
        border-top: 2px solid #008ed6;
        margin-left: 0;
      }
    }
  }
  .contact-icon{
    display: flex;
    margin-right: -14px;
    .col-4{
      display: flex;
      flex-direction: column;
      align-items: center;
      letter-spacing: -1px;
      padding-right: 43px;
      padding-top: 5px;
      img{
        margin-top: 6px;
        margin-left: 4px;
      }
      span{
        font-family: "Source Sans", sans-serif;
        margin-top: 27px;
        text-align: center;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        letter-spacing: 0.1px;
        color: #999999;
        width: 169px;
      }
    }
    .col-4:last-child{
      img {
        margin-top: 11px;
        margin-left: 22px;
      }
      span{
        margin-top: 32px;
        margin-left: 5px;
      }
    }
    .col-4:nth-child(2){
      img {
        margin-top: 6px;
        margin-left: 14px;
      }
      span{
        margin-top: 27px;
        margin-left: 14px;
        letter-spacing: 0.2px;
      }
      span:last-child{
        margin-top: 0;
        width: 122px;
        margin-right: 3px;
        letter-spacing: 0.1px;
      }
    }
  }
}
.footer-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #15141a;

  .footer-container {
    width: 1170px;
    padding-top: 55px;
    .row {
      .col-4 {
        display: flex;
        align-items: center;
        flex-direction: column;

        div {
          display: flex;
          justify-content: center;
          margin-left: 70px;
          margin-right: 42px;
          i {
            font-size: 18px;
            opacity: 0.2;
            color: #ffffff;
            margin-right: 34px;
          }

          i:hover {
            color: #00b3ff;
            opacity: 1;
          }
        }

        span {
          font-family: "Source Sans", sans-serif;
          font-size: 14px;
          line-height: 48px;
          font-weight: 600;
          letter-spacing: 0.2px;
          text-transform: uppercase;
          color: #444348;
          margin-top: 12px;
          margin-left: -2px;
        }
      }
    }
  }
  .form{
    background-color: #15141a;
    z-index: 10;
    width: 770px;
    height: 360px;
    position: absolute;
    bottom: -4316px;
    .col-6{
      padding-right: 19px;
      padding-top: 38px;
      input{
        font-family: 'Source Sans',sans-serif;
        font-size: 14px;
        line-height: 48px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        padding-left: 18px;
        background-color: transparent;
        margin-top: 20px;
        width: 300px;
        height: 50px;
        border: 1px solid rgba(255,255,255,0.2);
      }
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .col-5{
      padding-right: 28px;
      padding-top: 58px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      textarea{
        font-family: "Source Sans", sans-serif;
        font-size: 14px;
        line-height: 48px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        padding-left: 19px;
        background-color: transparent;
        width: 300px;
        height: 191px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        margin-right: 5px;
      }
      button{
        margin-top: 21px;
        margin-right: 5px;
        width: 160px;
        height: 50px;
        letter-spacing: 0.3px;
        border: 0;
        border-radius: 6px;
        background-color: #008ed6;
        box-shadow: 0 0 3px 0 rgb(3 3 3 / 10%);
        font-family: "Source Sans", sans-serif;
        font-size: 14px;
        line-height: 48px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }
}














