@font-face {
  font-family: 'quicksandlight';
  src: url('fonts/quicksand-variablefont_wght-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_proregular';
  src: url('fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
  url('fonts/sourcesanspro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.nav-wrapper{
  width: 1170px;
}
.background {
  display: flex;
  justify-content: center;
  z-index: -1;
  background-image: url("../img/bg_806.png");
  width: 100%;
  height: 640px;
}
.nav-menu {
  width: 1170px;
}
.logo{
  margin-top: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
        span{
          color: white;
          font-family: source_sans_proregular,sans-serif;
          font-size: 24px;
          line-height: 58px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: -0.6px;
        }
        span:last-child{
          display: flex;
          flex-wrap: wrap;
          width: 44px;
          padding-left: 5px;
          opacity: 0.3;
          font-family: source_sans_proregular,sans-serif;
          font-size: 9px;
          line-height: 10px;
          font-weight: 400;
          text-transform: uppercase;
          color: #ffffff;
        }
      }
    .menu-text{
      display: flex;
      justify-content: flex-end;
      margin-top: 45px;
      position: relative;
      left: 14px;
      a{
        font-family: source_sans_proregular,sans-serif;
        font-size: 16px;
        line-height: 10px;
        font-weight: 600;
        letter-spacing: -0.6px;
        color: #fffefe;
        margin-left: 20px;
        text-decoration: none;
      }
    }

.head-text{
  .title{
    display: flex;
    flex-direction: column;
    padding-right: 0;
    padding-top: 62px;
    h2{
      font-family: source_sans_proregular,sans-serif;
      font-size: 13px;
      line-height: 48px;
      font-weight: 700;
      text-transform: uppercase;
      color: #008ed6;
      letter-spacing: 0.8px;
    }
    h1{
      font-family: source_sans_proregular,sans-serif;
      font-size: 42px;
      line-height: 41px;
      font-weight: 700;
      text-transform: none;
      letter-spacing: 0.3px;
      color: #ffffff;
    }
    h1:last-child{
      font-size: 42px;
      line-height: 37px;
      font-weight: 700;
      text-transform: none;
      letter-spacing: 0.6px;
      color: #ffffff;
    }
    span{
      margin-top: 18px;
      font-size: 18px;
      line-height: 25px;
      font-weight: 400;
      text-transform: none;
      letter-spacing: -0.55px;
      color: #999999;
    }
  }
  .button-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    font-size: 12px;
    margin-left: -1px;

    .blue-button {
      font-family: source_sans_proregular, sans-serif;
      color: #ffffff;
      width: 158px;
      height: 50px;
      font-weight: 700;
      background-color: #008ed6;
      margin-right: 20px;
      border-radius: 3px;
      border: 0;
      box-shadow: 0 0 3px 0 rgba(3, 3, 3, 0.1);
    }

    .glass-button {
      font-family: source_sans_proregular, sans-serif;
      font-weight: 700;
      width: 158px;
      height: 50px;
      background: none;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 5px;
      color: #ffffff;
    }
  }
  .image-phone{
    img{
      width: 500px;
      height: 513px;
      margin-top: 40px;
      margin-left: -32px;
    }
  }
}
.overview-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .container {
    display: flex;
    justify-content: center;

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 38px;

      h1 {
        font-family: source_sans_proregular, sans-serif;
        font-size: 14px;
        line-height: 48px;
        font-weight: 700;
        letter-spacing: -0.2px;
        color: #008ed6;
        margin-right: 18px;
      }

      span {
        font-size: 33px;
        font-weight: 600;
        text-transform: none;
        letter-spacing: -0.6px;
        color: #1a1a1a;
        margin-top: -17px;
        margin-left: -18px;
      }
    }
  }

  .container-img {
    padding-top: 102px;
    padding-left: 136px;
    padding-right: 150px;

    .col-3 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .elipse {
        width: 90px;
        height: 90px;
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 4px;
        margin-top: 1px;
      }

      span {
        font-family: source_sans_proregular, sans-serif;
        font-size: 23px;
        line-height: 20px;
        font-weight: 400;
        color: #1a1a1a;
        text-align: center;
        margin-top: 32px;
        letter-spacing: -1px;
        margin-left: -9px;
      }
      span:last-child{
        font-size: 17px;
        line-height: 26px;
        color: #999999;
        margin-top: 15px;
        letter-spacing: 0;
        width: 240px;
      }
      .col-3:last-child {
        span {
          margin-left: -5px;
          letter-spacing: 0.1px;
        }
      }
    }
  }
}
.device-wrapper {
  width: 100%;
}
  .device-container {
    width: 1170px;
    padding-top: 134px;
    .row{
        .col-5{
          img{
            width: 504px;
            height: 610px;
            margin-left: 138px;
          }
        }
    }
  }





